<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>EjemplosClase</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>Pais</param-name>
    <param-value>India</param-value>
  </context-param>
  <context-param>
    <param-name>Edad</param-name>
    <param-value>24</param-value>
  </context-param>
  <servlet>
    <servlet-name>xyz</servlet-name>
    <servlet-class>control.Utilidad</servlet-class>
    <init-param>
      <param-name>nombre</param-name>
      <param-value>Mauricio</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>xyz</servlet-name>
    <url-pattern>/servlets/suma</url-pattern>
  </servlet-mapping>
</web-app>